[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/onqtam/doctest
[submodule "Libraries/xnnpack"]
	path = Libraries/xnnpack
	url = https://github.com/google/XNNPACK.git
